@charset "UTF-8";

    
h2 {
    font-size: 20px;
    
}

div {
   
    width: 1000px;/*Largura*/
    height border: 1px solid black;
    border-radius: 34px; 430px; /*Altura*/
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#durac {
    width: 44%;
    text-align: center;
}

button {
    background-color: rgba(255, 68, 0, 0.562);
    border-radius: 6px;
    text-align: left;
    float: right;
    margin-top: 30px;
   
}


#cabeçalho {

    border: 1px solid rgba(0, 0, 0, 0.479);
    background-color:rgba(250, 235, 215, 0.662);
    padding: 3px;
   
}

   
table, th, td {
    font-size: 15px;
    text-align: center;
    padding: 1px;
    border-spacing: 0 16px;
    margin-left: auto;
    margin-right: auto;
}


#empresa:hover {
    background-color: rgba(222, 184, 135, 0.159);
}
   
#duraçao:hover {
    background-color: rgba(222, 184, 135, 0.159);
}
#inicio:hover {
    background-color: rgba(222, 184, 135, 0.159);
}
#termino:hover {
    background-color: rgba(222, 184, 135, 0.159);
}
#temporest:hover {
    background-color: rgba(222, 184, 135, 0.159);
}
#contrato:hover {
    background-color: rgba(222, 184, 135, 0.159);
}
#renovacao:hover {
    background-color: rgba(222, 184, 135, 0.159);
}
#rescisao:hover {
    background-color: rgba(222, 184, 135, 0.159);
}



    



